pkgbase = pipewire-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version)
	pkgver = 1.7.0.r15475.7303a55b5
	pkgrel = 1
	url = https://pipewire.org
	arch = x86_64
	license = MIT
	checkdepends = desktop-file-utils
	checkdepends = openal
	makedepends = git
	makedepends = meson
	makedepends = alsa-lib
	makedepends = avahi
	makedepends = bluez-libs
	makedepends = dbus
	makedepends = doxygen
	makedepends = fftw
	makedepends = git
	makedepends = glib2
	makedepends = glib2-devel
	makedepends = graphviz
	makedepends = gst-plugins-base
	makedepends = ffmpeg
	makedepends = jack2
	makedepends = libcamera
	makedepends = libcanberra
	makedepends = libebur128
	makedepends = libffado
	makedepends = libfdk-aac
	makedepends = libfreeaptx
	makedepends = libgcc
	makedepends = liblc3
	makedepends = libldac
	makedepends = libmysofa
	makedepends = libpulse
	makedepends = libselinux
	makedepends = libsndfile
	makedepends = libstdc++
	makedepends = libusb
	makedepends = libx11
	makedepends = libxfixes
	makedepends = lilv
	makedepends = meson
	makedepends = ncurses
	makedepends = onnxruntime
	makedepends = opus
	makedepends = python-docutils
	makedepends = readline
	makedepends = roc-toolkit
	makedepends = rtkit
	makedepends = sbc
	makedepends = sdl2
	makedepends = spandsp
	makedepends = systemd
	makedepends = valgrind
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = webrtc-audio-processing-1
	options = debug
	source = git+https://gitlab.freedesktop.org/pipewire/pipewire.git
	sha256sums = SKIP

pkgname = pipewire-git
	install = pipewire-git.install
	license = MIT
	license = LGPL-2.1-or-later
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = dbus
	depends = libdbus-1.so
	depends = ffmpeg
	depends = libavcodec.so
	depends = libavutil.so
	depends = libswscale.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libdrm
	depends = libgcc
	depends = ncurses
	depends = libncursesw.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = libudev.so
	optdepends = gst-plugin-pipewire-git: gstreamer support
	optdepends = pipewire-alsa-git: ALSA support
	optdepends = pipewire-audio-git: Audio support
	optdepends = pipewire-docs-git: Documentation
	optdepends = pipewire-ffado-git: FireWire support
	optdepends = pipewire-jack-git: JACK support
	optdepends = pipewire-jack-client-git: PipeWire as JACK client
	optdepends = pipewire-libcamera-git: Libcamera support
	optdepends = pipewire-pulse-git: PulseAudio support
	optdepends = pipewire-roc-git: ROC support
	optdepends = pipewire-session-manager: Session manager
	optdepends = pipewire-v4l2-git: V4L2 interceptor
	optdepends = pipewire-vulkan-git: Vulkan support
	optdepends = pipewire-x11-bell-git: X11 bell
	optdepends = pipewire-zeroconf-git: Zeroconf support
	optdepends = realtime-privileges: realtime privileges with rt module
	optdepends = rtkit: realtime privileges with rtkit module
	provides = pipewire=1.7.0.r15475.7303a55b5
	conflicts = pipewire
	backup = usr/share/pipewire/pipewire.conf
	backup = usr/share/pipewire/minimal.conf

pkgname = pipewire-selinux-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version, SELinux-aware)
	install = pipewire-git.install
	license = MIT
	license = LGPL-2.1-or-later
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = dbus
	depends = libdbus-1.so
	depends = ffmpeg
	depends = libavcodec.so
	depends = libavutil.so
	depends = libswscale.so
	depends = glib2
	depends = libglib-2.0.so
	depends = glibc
	depends = libdrm
	depends = libgcc
	depends = ncurses
	depends = libncursesw.so
	depends = readline
	depends = libreadline.so
	depends = systemd-libs
	depends = libsystemd.so
	depends = libudev.so
	optdepends = gst-plugin-pipewire-git: gstreamer support
	optdepends = pipewire-alsa-git: ALSA support
	optdepends = pipewire-audio-git: Audio support
	optdepends = pipewire-docs-git: Documentation
	optdepends = pipewire-ffado-git: FireWire support
	optdepends = pipewire-jack-git: JACK support
	optdepends = pipewire-jack-client-git: PipeWire as JACK client
	optdepends = pipewire-libcamera-git: Libcamera support
	optdepends = pipewire-pulse-git: PulseAudio support
	optdepends = pipewire-roc-git: ROC support
	optdepends = pipewire-session-manager: Session manager
	optdepends = pipewire-v4l2-git: V4L2 interceptor
	optdepends = pipewire-vulkan-git: Vulkan support
	optdepends = pipewire-x11-bell-git: X11 bell
	optdepends = pipewire-zeroconf-git: Zeroconf support
	optdepends = realtime-privileges: realtime privileges with rt module
	optdepends = rtkit: realtime privileges with rtkit module
	provides = pipewire=1.7.0.r15475.7303a55b5
	conflicts = pipewire
	backup = usr/share/pipewire/pipewire.conf
	backup = usr/share/pipewire/minimal.conf

pkgname = libpipewire-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - client library
	depends = glibc
	depends = libgcc
	optdepends = realtime-privileges: realtime privileges with rt module
	provides = libpipewire=1.7.0.r15475.7303a55b5
	provides = libpipewire-.so
	conflicts = libpipewire
	backup = usr/share/pipewire/client.conf
	backup = usr/share/pipewire/client.conf.avail/20-upmix.conf

pkgname = alsa-card-profiles-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - ALSA card profiles
	license = LGPL-2.1-or-later

pkgname = pipewire-docs-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - documentation

pkgname = pipewire-libcamera-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - Libcamera support
	depends = glibc
	depends = libcamera
	depends = libcamera-base.so
	depends = libcamera.so
	depends = libgcc
	depends = libstdc++
	depends = pipewire

pkgname = pipewire-audio-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - Audio support
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = alsa-card-profiles
	depends = alsa-lib
	depends = libasound.so
	depends = bluez-libs
	depends = libbluetooth.so
	depends = dbus
	depends = libdbus-1.so
	depends = fftw
	depends = libfftw3f.so
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = glibc
	depends = libebur128
	depends = libfdk-aac
	depends = libfdk-aac.so
	depends = libfreeaptx
	depends = libfreeaptx.so
	depends = libgcc
	depends = liblc3
	depends = liblc3.so
	depends = libldac
	depends = libldacBT_enc.so
	depends = libmysofa
	depends = libmysofa.so
	depends = libsndfile
	depends = libsndfile.so
	depends = libstdc++
	depends = libusb
	depends = libusb-1.0.so
	depends = lilv
	depends = liblilv-0.so
	depends = opus
	depends = libopus.so
	depends = sbc
	depends = libsbc.so
	depends = spandsp
	depends = libspandsp.so
	depends = systemd-libs
	depends = webrtc-audio-processing-1
	depends = libwebrtc-audio-processing-1.so
	provides = ladspa-host
	provides = lv2-host

pkgname = pipewire-alsa-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - ALSA configuration
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = pipewire-session-manager

pkgname = pipewire-ffado-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - FireWire support
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = libffado
	depends = libffado.so

pkgname = pipewire-jack-client-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - PipeWire as JACK client
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = dbus
	depends = libdbus-1.so
	depends = glibc
	depends = jack
	depends = libjack.so
	depends = libgcc
	conflicts = pipewire-jack

pkgname = pipewire-jack-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - JACK replacement
	license = MIT
	license = GPL-2.0-only
	license = LGPL-2.1-or-later
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = pipewire-session-manager
	depends = sh
	optdepends = jack-example-tools: for official JACK example-clients and tools
	provides = jack
	provides = libjack.so
	provides = libjacknet.so
	provides = libjackserver.so
	conflicts = jack
	conflicts = jack2
	conflicts = pipewire-jack-client

pkgname = pipewire-onnx-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - ONNX filter support
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = onnxruntime

pkgname = pipewire-pulse-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - PulseAudio replacement
	install = pipewire-pulse.install
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = avahi
	depends = libavahi-client.so
	depends = libavahi-common.so
	depends = dbus
	depends = libdbus-1.so
	depends = dconf
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgio-2.0.so
	depends = glibc
	depends = libgcc
	depends = libpulse
	depends = libpulse.so
	depends = pipewire-session-manager
	provides = pulse-native-provider
	conflicts = pulseaudio

pkgname = pipewire-roc-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - ROC streaming support
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = libgcc
	depends = roc-toolkit
	depends = libroc.so

pkgname = gst-plugin-pipewire-git
	pkgdesc = Multimedia graph framework - pipewire plugin
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glib2
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = glibc
	depends = gst-plugins-base-libs
	depends = gstreamer
	depends = libgcc
	depends = pipewire-session-manager

pkgname = pipewire-zeroconf-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - Zeroconf support
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = avahi
	depends = libavahi-client.so
	depends = libavahi-common.so
	depends = glibc
	depends = libgcc
	depends = openssl
	depends = libcrypto.so
	depends = opus
	depends = libopus.so

pkgname = pipewire-v4l2-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - V4L2 interceptor
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = pipewire-session-manager
	depends = sh

pkgname = pipewire-vulkan-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - Vulkan interceptor
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = pipewire-session-manager
	depends = sh
	depends = vulkan-icd-loader

pkgname = pipewire-x11-bell-git
	pkgdesc = Low-latency audio/video router and processor. (GIT version) - X11 bell
	depends = libpipewire=1.7.0.r15475.7303a55b5
	depends = libpipewire-.so
	depends = pipewire-audio=1.7.0.r15475.7303a55b5
	depends = pipewire=1.7.0.r15475.7303a55b5
	depends = glibc
	depends = libcanberra
	depends = libcanberra.so
	depends = libx11
	depends = libxfixes

pkgname = pipewire-session-manager-git
	pkgdesc = Session manager for PipeWire (default provider)
	license = CC0-1.0
	depends = wireplumber

pkgname = pulse-native-provider-git
	pkgdesc = PulseAudio sound server (default provider)
	license = CC0-1.0
	depends = pipewire-pulse
