pkgbase = discord-canary-electron-bin
	pkgdesc = Discord Canary (popular voice + video app) using the system provided electron for increased security and performance
	pkgver = 1.0.1054
	pkgrel = 1
	url = https://canary.discordapp.com
	install = discord-canary-electron-bin.install
	arch = x86_64
	license = custom
	makedepends = asar
	makedepends = curl
	makedepends = sed
	depends = alsa-lib
	depends = electron35
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = xdg-utils
	optdepends = libpulse: Pulseaudio support
	optdepends = xdg-utils: Open files
	optdepends = noto-fonts-emoji: Google font for emoji support.
	optdepends = ttf-symbola: Font for emoji support.
	optdepends = noto-fonts-cjk: Font for special characters such as /shrug face.
	provides = discord-canary
	conflicts = discord-canary
	options = !strip
	source = discord-canary-1.0.1054.tar.gz::https://dl-canary.discordapp.net/apps/linux/1.0.1054/discord-canary-1.0.1054.tar.gz
	source = LICENSE.html::https://discordapp.com/terms
	source = OSS-LICENSES.html::https://discordapp.com/licenses
	sha256sums = a7ea26f058f3d5aac89cb432e0300c06b0f533a98513c724c929eb17d348e96d
	sha256sums = 16936e2f9f2df4f063db742188492f620ef9a541cd06c3c261333dcb20812fbd
	sha256sums = 24a62492494c1a129940af395d3af054b9faf51706be115ab03db6c911fa5ea9

pkgname = discord-canary-electron-bin
